<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    测试js字符串操作
  </body>
  <script>
    let arr = ['福建', '厦门']
    let newArr = arr.join('-')
    console.log(newArr) //福建-厦门
    arr.push('福建') //添加相同
    console.log(arr) //['福建', '厦门', '福建']

    let arrOne = new Set(arr) //去重复
    let arrS = [...arrOne] //将set转数组
    console.log(arrS) // ['福建', '厦门']

    let url = 'http://www.luckynwa.top/login?name=123&age=18'
    let urlDeal = url.split('?')[1]
    //将字符串切割字符串数组
    console.log(urlDeal) //name=123&age=18
    console.log(urlDeal.split('&')) // ["name=123", "age=18"]
    let strJ = '你干嘛啊!'
    //左闭右开,截取字符串，从1开始，到2结束
    console.log(strJ.substring(1, 2)) //干
    //第一个开始索引，2是长度
    console.log(strJ.substr(0, 2)) //你干
    //2个参数都是索引
    console.log(strJ.slice(-1)) //!  -1是倒数1
    console.log(strJ.slice(-3, -1)) //嘛啊    ,左闭右开

    let str = 'Hello    '
    let s = str.includes('Hel', 0) // 假设从索引位置 0 开始搜索
    console.log(s) // true
    console.log(str.match(/e/g)) //['e']
    console.log(str.trim()) //去除两端空格
    console.log((1000.212).toFixed(2))
  </script>
</html>
