<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MapVGL</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map_container {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
    <script src="//api.map.baidu.com/api?v=1.0&type=webgl&ak=您的密钥"></script>
    <script src="static/common.js"></script>
    <script src="//mapv.baidu.com/build/mapv.min.js"></script>
    <script src="https://code.bdstatic.com/npm/mapvgl@1.0.0-beta.189/dist/mapvgl.min.js"></script>
</head>

<body>
    <div id="map_container"></div>

    <script>
        /* global BMapGL */

        /* global mapv */

        /* global mapvgl */

        /* global initMap */

        /* global whiteStyle */

        var map = initMap({
            style: whiteStyle,
            tilt: 10,
            center: [109.792816,27.702774],
            zoom: 5,
            skyColors: [
                // 地面颜色
                'rgba(226, 237, 248, 0)',
                // 天空颜色
                'rgba(186, 211, 252, 1)'
            ],
            extends: {
                0: 'images/marker.png',
                1000: 'images/icons/icon-accident.png',
                10000: 'images/icons/icon-location.png',
                50000: 'images/icons/icon-airplane.png'
            }
        });

        var data = [];
        var citys = [
            '北京',
            '天津',
            '上海',
            '重庆',
            '石家庄',
            '太原',
            '呼和浩特',
            '哈尔滨',
            '长春',
            '沈阳',
            '济南',
            '南京',
            '合肥',
            '杭州',
            '南昌',
            '福州',
            '郑州',
            '武汉',
            '长沙',
            '广州',
            '南宁',
            '西安',
            '银川',
            '兰州',
            '西宁',
            '乌鲁木齐',
            '成都',
            '贵阳',
            '昆明',
            '拉萨',
            '海口'
        ];

        var randomCount = 100000;

        // 构造数据
        while (randomCount--) {
            var cityCenter = mapv.utilCityCenter.getCenterByCityName(
                citys[parseInt(Math.random() * citys.length, 10)]
            );
            data.push({
                geometry: {
                    type: 'Point',
                    coordinates: [cityCenter.lng - 2 + Math.random() * 4, cityCenter.lat - 2 + Math.random() * 4]
                },
                properties: {
                    icon: [
                        'images/marker.png',
                        'images/icons/icon-accident.png',
                        'images/icons/icon-location.png',
                        'images/icons/icon-airplane.png'
                    ][randomCount % 4],
                    width: randomCount % 2 === 0 ? 100 / 4 : 30,
                    height: randomCount % 2 === 0 ? 153 / 4 : 30
                }
            });
        }

        var view = new mapvgl.View({
            map
        })
        var iconClusterLayer = new mapvgl.IconClusterLayer({
            clusterRadius: 150,
            maxZoom: 15,
            minZoom: 5,
            showText: true,
            minPoints: 5,
            textOptions: {
                fontSize: 20,
                color: 'green',
                // 格式化数字显示
                format: function (count) {
                    return count >= 10000 ? Math.round(count / 1000) + 'k'
                    : count >= 1000 ? Math.round(count / 100) / 10 + 'k' : count;
                },
                stroke: {
                    color: 'black'
                },
                offset: [0, -30]
            },
            iconOptions: {
                width: 30,
                height: 30,
            },
            iconExtent: {
                0: 'images/icons/label-warning.png',
                1000: 'images/icons/icon-accident.png',
                5000: 'images/icons/icon-airplane.png',
                10000: 'images/icons/label-jam.png'
            },
            enablePicked: true,
            onClick(e) {
                if(e.dataItem) {
                    console.log(e.dataItem)
                }
            }
        })
        view.addLayer(iconClusterLayer);
        iconClusterLayer.setData(data);
    </script>
</body>

</html>